## `zdesk end-user identity request-verification`

Run end-user identity request-verification subcommands

### Synopsis

    zdesk end-user identity request-verification COMMAND[ ... ]

### Description

Run end-user identity request-verification subcommands

