## `zdesk user identity request-verification`

Run user identity request-verification subcommands

### Synopsis

    zdesk user identity request-verification COMMAND[ ... ]

### Description

Run user identity request-verification subcommands

